/*naslov*/
.div-title {
    color: yellow;
    opacity: 1;
    font-family: fantasy;
    text-align: center;
    font-size: 40px;
}

.body {
    height: 100%;
    width: 100%;
    background-image: url("background.jpg");

}

.column-left {
    float: left;
    width: 50%;
    justify-content: center;
    margin: 0;
    padding: 0;
    display: flex;
}
/*svaki od td-ova u tabeli za popunjavanje*/
.td {
    width: 60px;
    height: 60px;
    display: inline-block;
    position: relative;
    border-radius: 30px;
    margin-left: 5px;
    opacity: 0.3;
    background-color: rgb(122, 109, 161);
}

.td-fill {
    width: 60px;
    height: 60px;
    display: inline-block;
    position: relative;
    border-radius: 30px;
    margin-left: 5px;
    background-color: rgb(122, 109, 161);
}
.column-center {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    display: flex;
}
.result {
    width: 60px;
    height: 60px;
    display: inline-block;
    position: relative;
    border-radius: 30px;
    opacity: 0.3   ;
    background-color: rgb(122, 109, 161);
}
#img{
    height: 60px;
    width: 60px;
}
.pictureElement {
    display: inline-block;
}

.imgClass {
    height: 60px;
    width: 60px;
}
.column-right{
    width: 50%;
    justify-content: center;
    margin: 0;
    padding: 0;
    display: flex;
}

.column-center {
    width: 100%;
    justify-content: center;
    margin: 0;
    padding: 0;
    display: flex;
}





